*
!*/
!/*/

# track this file
!.gitignore

# whitelist everything in src, lib
!/src/**
!/lib/**

# whitelist resources
!/resources/

# whitelist save-folder
!/resources/saves/.gitkeep


# whitelisted txt-files
!README.md
!Compile_Guide.txt